@font-face {
    font-family: 'Elstob';
    src:url("./Elstob[GRAD,opsz,wght].woff2");
    font-weight: 200 800;
    font-style: normal;
}
@font-face {
    font-family: 'Elstob';
    src:url("./Elstob-Italic[GRAD,opsz,wght].woff2");
    font-weight: 200 800;
    font-style: italic;
}
:root {
    --romsize: 1.5em;
    --italsize: 1.5em;
    --romopsz: 12;
    --romwght: 400;
    --romGRAD: 0;
    --romspacing: 0em;
    --italopsz: 12;
    --italwght: 400;
    --italslnt: 0;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}
h1 {
    font-family: Elstob;
    font-size: 3em;
    font-variation-settings: 'opsz' 18, 'wght' 300, 'GRAD' 0;
}
h2 {
    font-family: Elstob;
    font-size: 1.8em;
    font-variation-settings: 'opsz' 14, 'wght' 300, 'GRAD' 0;
    font-feature-settings: 'smcp' on;
}
p {
    font-family: Elstob;
    font-size: 1.5em;
    font-variation-settings: 'opsz' 10, 'wght' 450, 'GRAD' 0;
    font-feature-settings: 'calt' on;
}
b{
    font-variation-settings: 'opsz' 10, 'wght' 750, 'GRAD' 0,
    'slnt' 0;
}
#romtextarea {
    background-color: #F8F8F8;
    margin: 0 0 20px 0;
    font-style: normal;
    font-size: var(--romsize);
    letter-spacing: var(--romspacing);
    font-variation-settings: 'opsz' var(--romopsz),
         'wght' var(--romwght),
         'GRAD' var(--romGRAD);
    font-feature-settings: 'calt' on;
}
#italtextarea {
    background-color: #F8F8F8;
    margin: 0 0 20px 0;
    font-style: italic;
    font-size: var(--italsize);
    font-variation-settings: 'opsz' var(--italopsz),
         'wght' var(--italwght),
         'slnt' var(--italslnt);
    font-feature-settings: 'calt' on;
}
.fineprint {
    font-variation-settings: 'opsz' 6, 'wght' 700, 'GRAD' 0;
}
.footnote {
    font-variation-settings: 'opsz' 8, 'wght' 700, 'GRAD' 0;
}
.blockquote {
    font-variation-settings: 'opsz' 10, 'wght' 700, 'GRAD' 0;
}
.subhead {
    font-variation-settings: 'opsz' 14, 'wght' 700, 'GRAD' 0;
}
.display {
    font-variation-settings: 'opsz' 18, 'wght' 700, 'GRAD' 0;
   }
.extralight {
    font-variation-settings: 'opsz' 12, 'wght' 200, 'GRAD' 0;
}
.light {
    font-variation-settings: 'opsz' 12, 'wght' 300, 'GRAD' 0;
}
.medium {
    font-variation-settings: 'opsz' 12, 'wght' 500, 'GRAD' 0;
}
.semibold {
    font-variation-settings: 'opsz' 12, 'wght' 600, 'GRAD' 0;
}
.bold {
    font-variation-settings: 'opsz' 12, 'wght' 700, 'GRAD' 0;
}
.extrabold {
    font-variation-settings: 'opsz' 6, 'wght' 800, 'GRAD' 0;
}
.bigtitle {
    font-size: 1.3em;
    font-style: italic;
    font-variation-settings: 'opsz' 6, 'wght' 600, 'GRAD' 0;
    font-feature-settings: 'hist' on;
}
.hoverable:hover {
    font-variation-settings: 'opsz' 10, 'wght' 450, 'GRAD' 1;
}
/* #headerbox {
    width: 95%;
    padding: 20px;
} */
/*
#underbox, #headerbox, #topbox {
    width: 95%;
    padding: 20px;
}
*/
.paragroup {
    width: 95%;
    padding: 20px;
 }
#topbox {
    margin: 0 0 0 20px;
    width: 93%;
    background-color: #F0F0F0;
    padding: 20px;
}
.controlbox {
    float: left;
    width: 35%;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #F0F0F0;
}
.samplebox {
    float: right;
    width: 55%;
    padding: 20px;
}
.bbx {
    white-space: nowrap;
}
.featurebox, .selectbox {
    padding: 20px 0 0 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sliderlabel {
    margin: 10px 0 0 0;
}
